*.opensdf
*.sdf
*.sln
*.vcxproj
*.deps
*.lastbuildstate
*.tlog
SPAM_GPU/GPUList.cuh~RF18957be5.TMP
input.txt
SPAM_GPU.VC.VC.opendb
d50c10t5i0.1
SPAM_GPU.VC.db
SPAM_GPU/995.txt
SPAM_GPU/1008.txt
.vs/SPAM_GPU/v15/Browse.VC.db
SPAM_GPU/SPAM.cu~RF1ecfbf00.TMP
